/*Area de Nav*/
.MainArea {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: space-between; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.NavAndButtom {
  width: 60vw;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.NavArea {
  background-color: #f1f1f1;
  border-radius: 12px;
  padding: 0.1rem 1rem; /* Espacio dentro del nav */
  width: 45vw;
  height: 2.5em;
}
.NavRowArea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
}
.NavItem {
  font-family: var(--font-inter), sans-serif;
  list-style: none;
  font-weight: 500;
}
.NavItem a:hover {
  color: white;
}
.NavItem a {
  text-decoration: none;
  color: #1d1c1c;
}

/*Área de Botón login*/

.LogoArea {
  display: flex;
  padding-left: 3rem;
}
.logo {
  width: 8rem;
  height: 5rem;
}
