.LoginButtom {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  color: #1d1c1c;
  background-color: #8ab0fd;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 7.5em;
  height: 2.5em;
}
.LoginButtom:hover {
  color: white;
  border-color: #1d1c1c; /* o cambia el borde */
  cursor: pointer;
}
